.wrapper {
  /* border: 2px dotted red; */
  width: 100%;
}

.item {
  list-style: none;
  padding: 2rem;
  border-radius: 1.6rem;
  background-color: white;
  font-size: 2.1rem;
  color: var(--color-gray-3);
  text-transform: capitalize;
  box-shadow: 0 1rem 2rem #00000005;
}

.item:not(:last-child) {
  margin-bottom: 1.6rem;
}
