.wrapper {
  /* border: 2px dotted red; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

.item {
  list-style: none;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background-color: white;
  font-size: 1.8rem;
  color: var(--color-gray-1);
  text-transform: capitalize;
  box-shadow: 0 0.5rem 2rem #00000010;
  margin-bottom: 1rem;
  animation: fade 0.3s;
}

.item:not(:last-child) {
  margin-bottom: 1.6rem;
}

@keyframes fade {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
