.App {
  width: 50rem;

  height: 50rem;
  background: var(--color-gray-7);
  border-radius: 1.2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
