* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1d1d1f;
}

:root {
  --color-gray-1: #1d1d1f;
  --color-gray-2: #515154;
  --color-gray-3: #696969;
  --color-gray-4: #f5f5f7;
  --color-orang: #bf4800;
  --color-blue: #0071e3;
  --color-green: #6cca4e;
  --color-purple: #ab45fb;
}
h1 {
  font-weight: 900;
  color: #f5f5f7;
  font-size: 4.8rem;
}
