.wrapper {
  width: 100%;
  /* border: 1px dotted red; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.button {
  position: absolute;
  right: 1rem;
  padding: 1rem 2rem;
  border-radius: 999px;
  background-color: var(--color-gray-4);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.2s;
}

.button:hover {
  background-color: var(--color-gray-2);
}
.input {
  height: 5.6rem;
  padding: 2rem;
  width: 100%;
  border-radius: 9980px;
  border: none;
  outline: none;
  /* position: absolute; */
  font-size: 2.1rem;
  color: var(--color-gray-2);
  background-color: var(--color-gray-5);
}
.input::placeholder {
  color: var(--color-gray-4);
  font-size: 1.8;
}
